*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-family:Verdana, Geneva, Tahoma, sans-serif,Arial;
}
body{
    height:100vh;
    width:100vw;
}
.container{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(98,140,38);
    background-size:cover;
}
.game-box{
    height:80%;
    width:80%;
    display:flex;
    justify-content:center;
    align-content:center;
    flex-wrap:wrap;
    gap:20px;
}
.half-hole{
    height: 147px;
    width: 540px;
    background-image: url("half.png");
    background-size: cover;
    position:absolute;
    transform:scale(0.75);
    top:140px;
    left:-68px;
    z-index:2;
}
.holes {
    height: 250px;
    width: 400px;
    background-image: url("hole.png");
    background-size: cover;
    position: relative;
    
}

.mole{
    height: 170px;
    width: 200px;
    background-image: url("mole.png");
    background-size: cover;
    position:absolute;
    top:110px;
    left:100px;
    transform:scale(0.7);
    transition:all 0.3s;
    opacity:0;
    z-index:1;
    visibility:hidden;
}

.holes.came .mole{
    top:-50px;
    opacity:1;
    visibility:visible;
}

span{
    font-size:2.5rem;
    font-weight:bold;
    position:absolute;
    color:white;
    top:2%;
    left:40%;
}